
<h2>Pagamento</h2>

[% INCLUDE retorno.tt %]

[% IF inscrito %]

<p>
Olá [% inscrito.nome %], para finalizar a inscrição basta acessar o pagseguro para realizar o pagamento, clicando no link abaixo.
</p>

<center>
	[% form %]
</center>

<p>
Qualquer dúvida, por favor entrar em contato pelo e-mail evento@perlworkshop.com.br.
</p>

[% END %]

